/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {box-sizing: border-box;}
/* 2. Remove default margin */
* {margin: 0;}
/* 3. Allow percentage-based heights in the application */
html, body {height: 100%;}
/* Typographic tweaks! Add accessible line-height & Improve text rendering */
body {line-height: 1.5; -webkit-font-smoothing: antialiased;}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {display: block; max-width: 100%;}
/* 7. Remove built-in form typography styles */
input, button, textarea, select {font: inherit;}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}

body {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: centre;
    overflow: hidden;
}

.grad {
    background: rgb(255,21,0);
    background: linear-gradient(323deg, rgba(255,21,0,1) 29%, rgba(255,146,0,1) 34%, rgba(97,95,6,1) 40%, rgba(21,121,9,1) 44%, rgba(7,150,144,1) 46%, rgba(6,57,163,1) 51%, rgba(6,20,171,1) 53%, rgba(90,5,191,1) 55%, rgba(93,4,208,1) 58%, rgba(94,3,214,1) 59%, rgba(227,2,232,1) 63%, rgba(238,1,151,1) 64%, rgba(255,0,17,1) 69%);
    background-size: 200%;
    animation: gradient 15s ease infinite;
    border-radius: 50%;
    height: 130vw;
    width: 130vw;
    position: absolute;
    top: -60vh;
    left: -10vw;
    /* left: -50%; */
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
        transform: rotate(0deg);
	}
	50% {
		background-position: 100% 50%;
        transform: rotate(360deg);
	}
	100% {
		background-position: 0% 50%;
        transform: rotate(0deg);
	}
}

@keyframes image {
	0% {
        transform: rotate(0deg);
        opacity: 0;
	}
	50% {
        transform: rotate(360deg);
        opacity: 1;
	}
	100% {
        transform: rotate(0deg);
        opacity: 0;
	}
}

h1 {
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    font-size: 5rem;
    z-index: 99;
}


img {
    z-index: 99999999999;
    position: absolute;
    inset: -15% 0 0 0;
    /* left: 10%; */
    width: 100vw;
    animation: image 20s ease infinite;
}

@media screen and (max-width: 400px) {
    .grad {
        top: -15vh;
        left: -50vw;
        height: 130vh;
        width: 130vh;
    }

    h1 {
        font-size: 2rem;
    }
    img {
        inset: 35% 0 35% 0;
        height: 200px;
        width: 200vw;
    }
}
